.jumbotron {
  background-color: #034694;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #034694;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card-text {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

li {
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .jumbotron {
    height: 200px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}